.frame-child,
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 46.65px;
  background-color: var(--color-dodgerblue);
  width: 41.27px;
  height: 113.98px;
}
.frame-inner,
.frame-item {
  left: 115.95px;
}
.frame-inner {
  left: 186.7px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 131px;
  width: 227.97px;
  height: 104px;
}
.macedo-oliveira {
  font-size: 80px;
  font-weight: 600;
}
.gustavo-miguel-macedo-container {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 424.5px);
  line-height: 70px;
  display: inline-block;
  width: 849px;
  height: 201px;
  font-size: inherit;
  font-family: inherit;
}
.frame2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 849px;
  height: 220px;
  overflow: hidden;
}
.programador-front-end {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: 700;
  width: 363px;
  height: 25px;
}
.frame3 {
  margin: 0;
  position: absolute;
  top: 149px;
  left: 230px;
  width: 363px;
  height: 71px;
  overflow: hidden;
  font-size: 25px;
  color: #555;
  font-family: inherit;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 211px;
  height: 25px;
}
.frame4,
.vector-icon {
  position: absolute;
  top: 152px;
  left: 5px;
  width: 211px;
  height: 68px;
  overflow: hidden;
}
.vector-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.iconmonstr-linkedin-3-1 {
  text-decoration: none;
  position: absolute;
  top: 183px;
  left: 5px;
  width: 37px;
  height: 37px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon1 {
  position: absolute;
  height: 97.53%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 2.47%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconmonstr-github-1-1 {
  text-decoration: none;
  position: absolute;
  top: 183px;
  left: 53px;
  width: 37px;
  height: 37px;
  overflow: hidden;
  cursor: pointer;
}
.frame,
.frame1 {
  position: absolute;
  top: 0;
  left: 165px;
  width: 849px;
  height: 220px;
  overflow: hidden;
}
.frame {
  top: 474px;
  left: 131px;
  width: 1014px;
}
.curriculo,
.curriculo-parent {
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
}
.curriculo {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.curriculo-parent {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 90px;
  color: #171717;
  font-family: var(--font-rubik);
}