@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-rubik: Rubik;

  /* font sizes */
  --font-size-61xl: 5rem;
  --font-size-11xl: 1.88rem;

  /* Colors */
  --color-white: #fff;
}
